.comment-inner-card {
    border: 1px solid #fff;
    background-color: #fff;
    color: #303133;
    transition: 0.3s;
    margin-top: -60px;
}

.el-avatar--large {
    width: 60px;
    height: 60px;
    line-height: 60px;
}

.info {
    margin-top: 8px;
    float: left;
    padding-left: 10px;
}

.info .name {
    font-size: 16px;
    color: #222;
    line-height: 22px;
    margin-bottom: 1px;
    margin-left: 1px;
}

.info .date {
    font-size: 12px;
    line-height: 20px;
    color: #999;
    float: right;
}

.rate-img {
    float: left;
    margin-top: 5px;
}

.info .desc {
    margin-top: 25px;
    font-size: 14px;
    color: black;
    line-height: 20px;
    padding-top: 13px;
    margin-left: 0px;
}

.img .el-avatar--large {
    margin-top: 30px;
    width: 140px;
    height: 140px;
    line-height: 140px;
}

.el-divider--horizontal {
    display: block;
    height: 1px;
    width: 100%;
}

.divider {
    margin-top: 90px;
}

.pageSize {
    margin-bottom: 20px;
    text-align: center;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #18ab8f;
    color: #FFF;
}

.el-pager li {
    padding: 0 4px;
    font-size: 16px;
    min-width: 35.5px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    box-sizing: border-box;
    text-align: center;
}

.el-pagination button:hover {
    color: #18ab8f;
}

.el-pagination button {
    width: 38px;
    height: 38px;
}

.el-pagination .el-icon {
    display: block;
    font-size: 16px;
    font-weight: 700;
}

.el-pagination.is-background .el-pager li:not(.disabled):hover {
    color: #e0bc1cbe;
}

.comment-inner-card .el-card__body {
    margin-top: 30px;
    margin-bottom: -19px;
    padding: 20px;
}

.lovely-card {
    width: 230px;
    margin-left: 10px;
}

.inner-card {
    margin: -5px -5px;
    height: 200px;
    width: 200px;
    border: 1px solid #fff;
    margin-top: 27px;
}

.img {
    margin-top: -20px;
    border-radius: 4px;
    height: 106px;
    width: 190px;
    margin-left: -15px;
    text-align: center;
}

.name {
    font-size: 14px;
    line-height: 20px;
    color: #222;
    margin-left: -15px;
    margin-bottom: 3px;
    width: 190px;
}

h3 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    color: #333;
    margin-bottom: 15px;
}

.desc {
    font-size: 12px;
    line-height: 17px;
    margin-left: -15px;
    color: #999;
}

.price {
    font-size: 22px;
    color: #f60;
    margin-left: -15px;
    line-height: 27px;
}

.price b {
    font-weight: 400;
    font-size: 14px;
}

.data-li {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
}

.total {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 7px;
}

.comment {
    margin-top: 30px;
}

.comment .total .sort {
    cursor: pointer;
    float: right;
    font-size: 12px;
    color: #999;
}

.sort .on {
    color: #00c9b3;
}

.sort span {
    font-size: 12px;
    margin-left: 15px;
    margin-right: 10px;
}

.see {
    margin-bottom: 20px;
}

.el-checkbox__input.is-checked+.el-checkbox__label {
    color: #00c9b3;
}

.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #00c9b3;
    border-color: #00c9b3;
}

.el-button--warning {
    color: #FFF;
    background-color: #f90;
    border-color: #f90;
}

.el-image__inner {
    height: 234px;
}

li img {
    margin-left: 10px;
    margin-right: 20px;
    width: 24px;
    height: 24px;
    border-radius: 0;
}

.wifi {
    margin-right: 15px;
    line-height: 14px;
    font-size: 12px;
}

.img-col {
    width: 160px;
}