.box-card {
    width: 1170px;
    margin-left: 20px;
    margin-top: 20px;
}

.title {
    margin-left: 20px;
    width: auto;
    height: 44px;
    font-size: 22px;
    font-weight: 500;
    color: #222222;
    text-align: left;
    padding-top: 6px;
    line-height: 44px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    /* margin-bottom: 6px; */
}